:root{
	--sfondo-scuro:rgb(153, 153, 255);
	--sfondo-chiaro:rgb(153, 235, 255);
	--sfondo-button:rgb(128, 128, 128);
	--ombra-button:rgb(204, 204, 204);
	--ombra-box:rgb(51, 51, 51);
}

/*default value*/
body{
	background-color: var(--sfondo-chiaro);
}

header{
	text-align: center;
	font-size: 4em;
}
input[type="text"], 
input[type="email"],input[type="password"], select{
	margin: auto;
  	width: 70%;
  	text-align: center;
	border-radius: 8px;
	margin-bottom: 2px;
}

h2{
	text-align: center;
}

button{
	font-size: 1em;
	text-align: center;
	border-radius: 8px;
	border-color: black;
	box-shadow: 2px 1px var(--sfondo-button);
	margin:auto;
  	display:block;
  	margin-bottom: 4px;
}

button:hover{
	background-color: grey;
	color:white;
	box-shadow: 4px 2px var(--ombra-box);
}

button:active{
	transform: translateY(2px);
}


/*index css*/
.boxCenter, .content{
	
	margin: auto;
  	width: 50%;
  	padding: 10px;

  	text-align: center;
	background-color: var(--sfondo-scuro);
	border-radius: 15px;
	border-style: solid;
	border: 15px;
	border-color: black;
	box-shadow:8px 5px var(--ombra-box);
	margin-bottom: 2%;
}

.content{
	width: 70%;
}

/*home css*/
#right{
	text-align: right;
	float:right;
}

table{
	float:center;
	width:100%;
}

tr:hover td{
	background-color: var(--sfondo-chiaro);
}

ul{
	display: table;
	margin: 0 auto;
}

a:link {
  text-decoration: none;
  outline: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  /*serve mettere uno sfondo se non non si legge piu in alto*/
  color: var(--sfondo-chiaro);
}

a:active {
  text-decoration: underline;
  color: var(--sfondo-chiaro);
}

.insider{
	width:98%;
	background-color: grey;
	text-align: center;
	margin-bottom: 2%;
	margin-right: 2%;
	/*float: left;*/
		display: 	block;
	border-radius: 15px;
	border-style: solid;
	border: 15px;
	border-color: black;
	box-shadow:8px 5px var(--ombra-box);
}