<!DOCTYPE html>
<html>
<head>
<title>BuyService</title>
<style type="text/css"></style>
<link href="./CSS/CssDefault.css" type="text/css" rel="stylesheet" />
<script src="./JS/myJs.js" charset="utf-8" defer></script>
</head>
<body>



	<span id="right" th:if="${isLogged}" th:text="${name}">Matteo</span>
	<span id="right"><a th:if="${isLogged}" th:href="@{/Logout}">Logout</a> |</span>
	<span id="right" th:unless="${isLogged}"><a href="">SingIn</a></span>
	<header>Buy Service</header>
	<section class="content">
		<h2>Choose your configuration</h2>
		<form action="Confirmation" method="get" id="SetUpPackage">
			<label>select package</label><br> 
			<select id="packSelection" name="packSelection">
				<option th:each="package :${packages}"
					th:value="${package.getId()}" th:text="${package.getName()}"
					th:selected="${idSelected}==${package.getId()} ? true : false">
					pkThymeleaf</option>
			</select>

			<fieldset>
				<legend>ValidityPeriod</legend>
				<!-- Non sono sicuro di poterlo mettere qua, forse andrebbe nel fieldset ma farebbe casino con il legend! Da provare-->
				<span th:each="validity : ${validityPeriod}"> <input
					type="radio" name="ValidityPeriod" th:value="${validity.getId()}" required>
					<label><span th:text="${validity.getMonth()}">6</span>months</label>
				</span>
			</fieldset>

			<fieldset>
				<legend>Optional</legend>
				<!-- Non sono sicuro di poterlo mettere qua, forse andrebbe nel fieldset ma farebbe casino con il legend! Da provare-->
				<span th:each="optional : ${optionals}"> <input
					type="checkbox" name="opt" th:value="${optional.getId()}">
				<!--Puo essere un problema leggerle poi nella servlet! Da provare! -->
					<label th:text="${optional.getName()}">SMS1</label>
				</span>

			</fieldset>
			<label>start date subscription</label>
			<br> <input type="date" name="activationDate" required>
		</form>
		<br>
		<button type="submit" form="SetUpPackage" value="Submit">Confirm</button>
	</section>
	<form action="HomePageClient" method="get">
		<button type="submit">Back</button>
	</form>
	<script>
		document.getElementById("packSelection").onchange = function() {
			reload()
		};

		function reload() {
			window.location.href ="/ProjectDB2-WEB/BuyService?idPack="
					+ document.getElementById("packSelection").value;
		}
	</script>
</body>
</html>