<!DOCTYPE html>
<html>
<head>
	<title>HomeEmployee</title>
	<style type="text/css"></style>
	<link href="./CSS/CssDefault.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<span id="right" th:text="${name}">Matteo</span>
	<span id="right"><a th:if="${isLogged}" th:href="@{/Logout}">Logout</a> |</span>
	<header>Home Employee</header>
	
	<section class="content">
		<h3>inspect the essential data over the entire lifespan of the application</h3>
		<form action="PurchasePerPackage" method="get">
			<button type="submit">ReportPage</button>
		</form>
	</section>

	<section class="content">
		<h3>Create new Package</h3>
		<form action="CreatePackage" method="post" id="CreatePackageForm">
			<label>package name</label><br>
			<input type="text" name="packageName" id="packageName" required>

			<fieldset>
				<legend>services connected</legend>
				<span th:each="service : ${services}"> <input
					type="checkbox" name="serv" th:value="${service.getId()}">
					<label th:text="${service.getType()}">mobile phone</label>
				</span>
			</fieldset>
			
			<fieldset>
				<legend>validity periods</legend>
				<span th:each="period : ${validityPeriods}"> <input
					type="checkbox" name="prd" th:value="${period.getId()}">
					<label th:text="${period.getMonth()}">12</label>
				</span>
			</fieldset>

			<fieldset>
				<legend>optional allowed</legend>
				<span th:each="optional : ${optionals}"> <input
					type="checkbox" name="opt" th:value="${optional.getId()}">
					<label th:text="${optional.getName()}">SMS1</label>
				</span>
			</fieldset>
		</form>
		<br>
		<button type="submit" form="CreatePackageForm" value="Submit">CreatePackage</button>
	</section>

	<section class="content">
		<h3>Create new Optional</h3>
		<form action="CreateOptional" method="post" id="CreateOptional">
			<label>option name</label><br>
			<input type="text" name="optionName" id="optionName" required><br>
			<label>fee monthly</label><br>
			<input type="number" name="feeMonthly" id="feeMonthly" step="0.01" required>
		</form>
		<br>
		<button type="submit" form="CreateOptional" value="Submit">CreateOptional</button>
	</section>
</html>