<!DOCTYPE html>
<html>
<head>
	<title>HomeEmployee</title>
	<style type="text/css"></style>
	<link href="./CSS/CssDefault.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<span id="right" th:text="user.username">Matteo</span>
	<header>Home Employee</header>

	<section class="content">
		<h3>Create new Package</h3>
		<form action="" method="post" id="CreatePackagaeForm">
			<label>package name</label><br>
			<input type="text" name="packageName" id="packageName" required>

			<fieldset>
				<legend>services connected</legend>
				<span th:each="service : ${services}"> <input
					type="checkbox" name="serv" th:value="${service.getId()}">
					<label th:text="${service.getType()}">mobile phone</label>
				</span>
			</fieldset>

			<fieldset>
				<legend>optional allowed</legend>
				<span th:each="optional : ${optionals}"> <input
					type="checkbox" name="opt" th:value="${optional.getId()}">
					<label th:text="${optional.getName()}">SMS1</label>
				</span>
			</fieldset>
		</form>
		<br>
		<button type="submit" form="CreatePackagaeForm" value="Submit">CreatePackage</button>
	</section>

	<section class="content">
		<h3>Create new Optional</h3>
		<form action="" method="post" id="CreeateOptional">
			<label>option name</label><br>
			<input type="text" name="optionName" id="optionName" required><br>
			<label>fee monthly</label><br>
			<input type="number" name="feeMonthly" id="feeMonthly" step="0.01" required>
		</form>
		<br>
		<button type="submit" form="AccessForm" value="Submit">CreateOptional</button>
	</section>
</html>