<!DOCTYPE html>
<html>
<head>
	<title>HomeClient</title>
	<style type="text/css"></style>
	<link href="./CSS/CssDefault.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<span id="right" th:if="${isLogged}" th:text="${name}">Matteo</span>
	<span id ="right" th:unless="${isLogged}"><a href="">SingIn</a></span>
	<header>Home Client</header>
	<section class="content">
		<h2>Service Packages</h2>
			<section class="insider" th:each="package : ${packages}">
			<h3 th:text="${package.getName()}">Titolo</h3>
			<table>
			<tr>
				<th>SMS</th>
				<th>Minutes</th>
				<th>GBs</th>
				<th>Fee SMS</th>
				<th>Fee Minutes</th>
				<th>Fee GBs</th>
			</tr>
			<tr th:each="service : ${package.getServices()}">
				<td th:text="${service.getSms()}">sono</td>
				<td th:text="${service.getMinutes()}">matteo</td>
				<td th:text="${service.getGiga()}">matteo</td>
				<td th:text="${service.getFeeSms()}">cordioli</td>
				<td th:text="${service.getFeeMinutes()}">cordioli</td>
				<td th:text="${service.getFeeGiga()}">cordioli</td>
			</tr>
		</table>
		</section>
		<br>
		<form action="BuyService" method="get">
		<button type="submit">GoBuyPackage</button>
		</form>
	</section>
	<section class="content" th:if="${isInsolvent}">
		<h2>List of rejected orders</h2>
		<a th:each="order : ${rejectedOrders}" th:href="@{/LoadConfirm(idOrder=${order.id})}" href="">
			<span th:text="${order.packageData.name}">Name order</span> - cost <span th:text="${order.totalCost}">500$</span>
		</a>
	</section>
</body>
</html>