<!DOCTYPE html>
<html>
<head>
	<title>SalesReport</title>
	<style type="text/css"></style>
	<link href="./CSS/CssDefault.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<span id="right" th:text="${username}">Matteo</span>
	<span id="right"><a th:href="@{/Logout}">Logout</a> |</span>
	<header>Sales Report</header>
	
	<section  class="content">
		<table>
			<tr>
				<th th:classappend="${query1} ? 'bkSelect'"><a th:href="@{/PurchasePerPackage}">Query 1</a></th>
				<th th:classappend="${query2} ? 'bkSelect'"><a th:href="@{/PurchasePerPackageAndValidity}">Query 2</a></th>
				<th th:classappend="${query3} ? 'bkSelect'"><a th:href="@{/PackageValue}">Query 3</a></th>
				<th th:classappend="${query4} ? 'bkSelect'"><a th:href="@{/AverageOptionalsPerPackage}">Query 4</a></th>
				<th th:classappend="${query5} ? 'bkSelect'"><a th:href="@{/InsolventSuspendedAndAlerts}">Query 5</a></th>
				<th th:classappend="${query6} ? 'bkSelect'"><a th:href="@{/MostValueOptional}">Query 6</a></th>
			</tr>
		</table>
	</section>
	

	<section class="content" th:if="${query1}">
		<h2>purchases per package</h2>
		<section class="insider" >
			<table>
				<tr>
					<th>IdPackage</th>
					<th>NamePackage</th>
					<th>Purchases</th>
				</tr>
				<tr th:each="o : ${result}">
					<td th:text="${o[0]}">1</td>
					<td th:text="${o[1]}">pippo</td>
					<td th:text="${o[2]}">5</td>
				</tr>
			</table>
		</section>
	</section>

	<section class="content" th:if="${query2}">
		<h2>purchases per package and validity period</h2>
		<section class="insider" >
			<table>
				<tr>
					<th>IdPackage</th>
					<th>NamePackage</th>
					<th>Purchases</th>
					<th>ValidityPeriod</th>
				</tr>
				<tr th:each="o : ${result}">
					<td th:text="${o[0]}">1</td>
					<td th:text="${o[1]}">pippo</td>
					<td th:text="${o[2]}">5</td>
					<td th:text="${o[3]}">5</td>
				</tr>
			</table>
		</section>
	</section>

	<section class="content" th:if="${query3}">
		<h2>income per package with and without optionals</h2>
		<section class="insider" >
			<table>
				<tr>
					<th>IdPackage</th>
					<th>NamePackage</th>
					<th>IncomeWithOptional</th>
					<th>IncomeNoOptional</th>
				</tr>
				<tr th:each="o : ${result}">
					<td th:text="${o[0]}">1</td>
					<td th:text="${o[1]}">pippo</td>
					<td th:text="${o[2]}">5</td>
					<td th:text="${o[3]}">5</td>
				</tr>
			</table>
		</section>
	</section>

	<section class="content" th:if="${query4}">
		<h2>avarage per package of optional purchased</h2>
		<section class="insider" >
			<table>
				<tr>
					<th>IdPackage</th>
					<th>NamePackage</th>
					<th>AvarageOfOptionals</th>
				</tr>
				<tr th:each="o : ${result}">
					<td th:text="${o[0]}">1</td>
					<td th:text="${o[1]}">pippo</td>
					<td th:text="${o[2]}">5</td>
				</tr>
			</table>
		</section>
	</section>

	<section class="content" th:if="${query5}">
		<h2>insolvents</h2>
		<section class="insider" >
			<table>
				<tr>
					<th>IdUser</th>
					<th>Username</th>
					<th>Mail</th>
				</tr>
				<tr th:each="u : ${user}">
					<td th:text="${u[0]}">1</td>
					<td th:text="${u[1]}">pippo</td>
					<td th:text="${u[2]}">5</td>
				</tr>
			</table>
		</section>
		
		<h2>suspended orders</h2>
		<section class="insider" >
			<table>
				<tr>
					<th>IdOrder</th>
					<th>PackageName</th>
					<th>UserMail</th>
				</tr>
				<tr th:each="o : ${order}">
					<td th:text="${o[0]}">1</td>
					<td th:text="${o[1]}">pippo</td>
					<td th:text="${o[2]}">5</td>
				</tr>
			</table>
		</section>
		
		<h2>alerts</h2>
		<section class="insider" >
			<table>
				<tr>
					<th>Mail</th>
					<th>Cost</th>
					<th>Rejected</th>
				</tr>
				<tr th:each="a : ${alert}">
					<td th:text="${a[0]}">1</td>
					<td th:text="${a[1]}">pippo</td>
					<td th:text="${a[2]}">5</td>
				</tr>
			</table>
		</section>
	</section>

	<section class="content" th:if="${query6}">
		<h2>best seller optional product</h2>
		<section class="insider">
			<table>
				<tr>
					<th>IdOptional</th>
					<th>NameOptional</th>
					<th>Income</th>
				</tr>
				<tr th:each="o : ${result}">
					<td th:text="${o[0]}">1</td>
					<td th:text="${o[1]}">pippo</td>
					<td th:text="${o[2]}">5</td>
				</tr>
			</table>
		</section>
	</section>

</body>
</html>